In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [116]:
train_df= pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [18]:
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [12]:
train_df.Occupation.value_counts().index

Int64Index([4, 0, 7, 1, 17, 20, 12, 14, 2, 16, 6, 3, 10, 5, 15, 11, 19, 13, 18,
            9, 8],
           dtype='int64')

In [27]:
print('Train Shape',train_df.shape)
print('Test Shape',test_df.shape)

Train Shape (550068, 13)
Test Shape (233599, 11)

In [28]:
gender_dict = {'F':0 , 'M':1}
age_dict={'26-35':2, '36-45':3, '18-25':1, '46-50':4, '51-55':5, '55+':6,'0-17':0}
city_dict = {'A':0, 'B':1, 'C':2}
stay_dict = {'0':0, '1':1, '2':2, '3':3, '4+':4}

In [117]:
#Converting the variable categorical to numeric 
train_df["Gender"]=train_df["Gender"].apply(lambda x:gender_dict[x])
test_df["Gender"] = test_df["Gender"].apply(lambda x: gender_dict[x])

train_df["Age"] = train_df["Age"].apply(lambda x: age_dict[x])
test_df["Age"] = test_df["Age"].apply(lambda x: age_dict[x])

train_df["City_Category"] = train_df["City_Category"].apply(lambda x: city_dict[x])
test_df["City_Category"] = test_df["City_Category"].apply(lambda x: city_dict[x])

train_df["Stay_In_Current_City_Years"] = train_df["Stay_In_Current_City_Years"].apply(lambda x: stay_dict[x])
test_df["Stay_In_Current_City_Years"] = test_df["Stay_In_Current_City_Years"].apply(lambda x: stay_dict[x])

In [118]:
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,0,2,0,3,NaN,NaN,8370
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,0,10,0,2,0,12,NaN,NaN,1422
3,1000001,P00085442,0,0,10,0,2,0,12,14.0,NaN,1057
4,1000002,P00285442,1,6,16,2,4,0,8,NaN,NaN,7969

In [119]:
def getCountVar(compute_df, count_df, var_name):
	grouped_df = count_df.groupby(var_name) #GB by age 
	count_dict = {}
	for name, group in grouped_df: #Contain two values one with age and rest others(All columns with respect to group)
		count_dict[name] = group.shape[0] #Count

	count_list = []
	for index, row in compute_df.iterrows():
		name = row[var_name]
		count_list.append(count_dict.get(name, 0)) #if value found then corresponding value otherwise zero
	return count_list

#Creating new features with respect to the count

In [123]:
print ("Getting count features..")
train_df["Age_Count"] = getCountVar(train_df, train_df, "Age")
test_df["Age_Count"] = getCountVar(test_df, train_df, "Age")
print ("Age", np.unique(test_df["Age_Count"]))

train_df["Occupation_Count"] = getCountVar(train_df, train_df, "Occupation")
test_df["Occupation_Count"] = getCountVar(test_df, train_df, "Occupation")
print ("Occupation", np.unique(test_df["Occupation_Count"]))

train_df["Product_Category_1_Count"] = getCountVar(train_df, train_df, "Product_Category_1")
test_df["Product_Category_1_Count"] = getCountVar(test_df, train_df, "Product_Category_1")
print( "Cat 1 ",np.unique(test_df["Product_Category_1_Count"]))

train_df["Product_Category_2_Count"] = getCountVar(train_df, train_df, "Product_Category_2")
test_df["Product_Category_2_Count"] = getCountVar(test_df, train_df, "Product_Category_2")
print ("Cat 2", np.unique(test_df["Product_Category_2_Count"]))

train_df["Product_Category_3_Count"] = getCountVar(train_df, train_df, "Product_Category_3")
test_df["Product_Category_3_Count"] = getCountVar(test_df, train_df, "Product_Category_3")
print ("Cat 3 ", np.unique(test_df["Product_Category_3_Count"]))

train_df["User_ID_Count"] = getCountVar(train_df, train_df, "User_ID")
test_df["User_ID_Count"] = getCountVar(test_df, train_df, "User_ID")
print ("User id ", np.unique(test_df["User_ID_Count"])[:10])

train_df["Product_ID_Count"] = getCountVar(train_df, train_df, "Product_ID")
test_df["Product_ID_Count"] = getCountVar(test_df, train_df, "Product_ID")
print ("Product id ", np.unique(test_df["Product_ID_Count"])[:10])

Getting count features..
Age [ 15102  21504  38501  45701  99660 110013 219587]
Occupation [ 1546  6291  6622  7728  8461 11586 12165 12177 12930 17650 20355 25371
 26588 27309 31179 33562 40043 47426 59133 69638 72308]
Cat 1  [   410    578   1523   3125   3721   3947   5125   5549   6290   9828
  11753  20213  20466  23864  24287 113925 140378 150933]
Cat 2 [    0   626  2770  2884  3043  5528  5693 10531 13320 14134 16466 25677
 26235 37855 43255 49217 55108 64088]
Cat 3  [    0   613  1726  1805  1875  4629  4890  5459  9246 11579 12562 16658
 16702 18428 28013 32636]
User id  [ 6  7  8  9 10 11 12 13 14 15]
Product id  [0 1 2 3 4 5 6 7 8 9]

In [124]:
train_df.fillna(-999, inplace=True)
test_df.fillna(-999, inplace=True)

In [125]:
train_df.to_csv('cleaned_train.csv')
test_df.to_csv('cleaned_test.csv')